
body {
    background: url('https://images.unsplash.com/photo-1556911220-bff31c812dba?fm=jpg&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8a2l0Y2hlbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&ixlib=rb-4.1.0&q=60&w=3000');
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #110e0e;
    margin: 0;
    padding: 20px;

}

header {
    text-align: center;
}

h3 {
    text-align: center;
}

.photo-row {
    display: flex; /* размещаем элементы в ряд */
    justify-content: center; /* выравнивание по центру (можно "space-between" или "flex-start") */
    gap: 20px; /* расстояние между фото */
    margin-top: 30px;
}

.photo-row img {
    width: 200px; /* ширина фото */
    height: 200px; /* высота фото */
    object-fit: cover; /* обрезает фото красиво */
    border-radius: 10px; /* закруглённые углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* лёгкая тень */
    transition: transform 0.3s;
}

.photo-row img:hover {
    transform: scale(1.05); /* эффект увеличения при наведении */
}

html {
    scroll-behavior: smooth; /* плавная прокрутка при переходе по якорю */
}

.black {
    color: black;
}

.box {
    width: 700px;
    height: 800px;
}

.box2 {
    width: 300px;
    height: 350px;
}


.animation img {
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    animation: pulse 1s linear infinite; /* анимация на картинку */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* увеличиваем на 20% */
    }
    100% {
        transform: scale(1);
    }
}

.navbar {

    position: absolute;
    z-index: 99;
    top: 38px;
    left: 25px;
}

.navbar button {
    width: 50px;
    height: 50px;
    opacity: 0;

}

.footer {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    background-color: slategray;
    color: black;
    height: 100px;


}

